body {
  overflow: auto;
  border: 2px solid black;
  padding-top: 5px;
  padding-left: 10px;
}
.c p {
  display: inline;
}
.c {
  border-bottom: 2px solid black;
}
h1 {
  text-align: center;
}
.contact {
  position: relative;
  left: 35%;
}
a {
  text-decoration: none;
  margin: 20px;
}
.co {
  margin-top: 50px;
  margin-left: 25px;
  margin-bottom: 10px;
}
.ts {
  margin-top: 30px;
  margin-left: 25px;
}
.we {
  margin-top: 30px;
  margin-left: 25px;
}
.we li {
  list-style: none;
}
.q {
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}
table {
  width: 80%;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
.tb {
  margin-left: 40px;
}
